
body {
    font-family: Arial, sans-serif;
    background-color: #fbfbfb !important;
    margin: 0;
    padding: 0;
}

.filter-container {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.filter-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
    min-width: 800px; /* Ancho mínimo para acomodar 6 elementos */
}

.filter-option {
    flex: 1 1 calc(16.6667% - 10px);
    margin-bottom: 10px;
    margin-right: 10px;
}


.filter-button {
    background-color: #4caf50;
    color: #fff;
    padding: 1px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.filter-title {
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


fieldset {
    padding: 0px 0px 0px 0px !important;
    margin: unset !important;
    border: 2px solid #124a6f  !important;
    margin-bottom: 5px !important;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-bottom: 2px solid #124a6f; /* Cambié el color a naranja */
    background-color: white;
}

legend {
    font-size: 20px !important;
    width: auto !important;
    margin-bottom: 0 !important;
}


/* Estilo cebra para las filas del grid */
/*.dx-datagrid-rowsview .dx-row:nth-child(even) {
        background-color: #f4f4f4;
    }*/

.dx-button-mode-contained, .dx-button-mode-contained.dx-state-hover {
    box-shadow: 0 1px 3px rgb(0 0 0 / 0%)
}

/*--------*/

/*estilos de titulo*/
.module-title {
    font-size: 25px;
    color: #333;
    text-align: center;
    padding: 10px 0;
    position: relative;
    margin: 5px 16px;
    background-color: white;
}

.line {
    position: absolute;
    width: 100%;
    height: 2px; /* Grosor de la línea */
    background-color: #124a6f; /* Color de la línea */
    top: 0;
}

    .line.bottom {
        top: auto;
        bottom: 0;
    }
/*--------*/


.container-info {
    margin-top: 20px;
}

